/* body,
html {
  margin: 0px !important;
  padding: 0px !important;
  background-color: #234;
} */

.whole {
  position: fixed;
  background-color: transparent;
  width: 98%;
  height: 100%;
  transition: 0.5s;
}

.sideNavOpen {
  width: 71% !important;
}

.videos-wrapper {
  position: absolute;
  background-color: transparent;
  border: 2px solid var(--bg-inv);
  top: 0%;
  left: 0%;
  width: 98%;
  height: 100%;

  margin: 0px;
  padding: 0px;
}

.board-wrapper {
  position: absolute;
  background-color: transparent;

  top: 0%;
  left: 0%;
  max-width: calc(100vw - 400px);
  height: 100%;
 
  padding: 0px;
}

.code-wrapper {
  position: absolute;
  background-color: transparent;

  top: 0%;
  left: 50%;
  width: 49%;
  height: 100%;

  margin: 5px;
  padding: 0px;
}

.videos-wrapper video {
  position: absolute;
  background-color: transparent;
  border-radius: 5px;

  top: 0%;
  left: 0%;
  width: 100%;
  height: auto;
  max-height: 100%;

  margin: 0px;
  padding: 0px;
}

.controls-wrapper {
  position: absolute;
  background-color: transparent;
  z-index: 2;

  top: 80%;
  /* left: 0%; */
  width: 98%;
  height: 11%;
  border: 2px solid var(--bg-inv);
  /* margin: 0px; */
  /* padding: 0px; */
  max-width: calc(100vw - 400px);
}



span.thumb {
  display: none;
}

.controls-box {
  position: absolute;
  background-color: transparent;
  border-radius: 5px;
  top: 28%;
  height: 60%;
  margin: 0px;
  padding: 0px;
  /* background: var(--bg-inv); */
  box-shadow: var(--box-shadow);
}

.controls-box.progress {
  left: 1%;
  width: 10%;
}

.controls-box.pace {
  left: 12%;
  width: 10%;
}

.controls-box.volume {
  left: 23%;
  width: 10%;
}

.controls-box.size {
  left: 34%;
  width: 10%;
}

.controls-box.views {
  left: 45%;
  width: 32%;
}

.controls-box.help {
  left: 78%;
  width: 10%;
  font-size: .8rem;
}



.controls-box.time {
  left: 89%;
  width: 10%;
  font-size: .8rem;
}

.control {
  position: absolute;
  background-color: transparent;
  cursor: pointer;

  top: 10%;
  height: 90%;

  margin: 0px;
  padding: 0px;
}

div.control {
  transition: 0.1s;
}

div.control:not(.disabled):not(.selected):hover {
  transform: translateX(1px) translateY(-1px);
}

div.control:not(.disabled):not(.selected):active {
  transform: translateX(2px) translateY(-2px);
}

div.control.disabled {
  opacity: 0.5;
  cursor: default;
}

div.control.selected i {
  color:#F8423D;
  transform: scale(1.3) translateX(5px) translateY(-7px);
  cursor: default;
}

span.control {
  cursor: default;
}

.control i {
  position: absolute;
  background-color: transparent;

  top: 30%;
  left: 5%;
  color: var(--color2);
}

.control.play {
  left: 8.5%;
  width: 30%;
  font-size: 1rem;
}

.control.forward {
  left: 40%;
  width: 30%;
  font-size: 1rem;
}

.control.rewind {
  left: 78.5%;
  width: 30%;
  font-size: 1rem;
}

.control.onex {
  left: 2.5%;
  width: 30%;
}

.control.onex i {
  top: 30%;
  left: 0%;
  width: 100%;
  font-size: 0.8rem;
}

.control.twox {
  left: 35%;
  width: 30%;
}

.control.twox i {
  top: 30%;
  left: 0%;
  width: 100%;
  font-size: 1.1rem;
}

.control.threex {
  left: 67.5%;
  width: 30%;
}

.control.threex i {
  top: 30%;
  left: 0%;
  width: 100%;
  font-size: 1.4rem;
}

.control.volume {
  left: 2.5%;
  width: 30%;
  top: 11%;
  font-size: 1.5rem;
}

.control.volume-bar {
  top: 58% !important;
  left: 35% !important;
  width: 62.5% !important;
}

.control.size {
  left: 2.5%;
  width: 30%;
  top: 10%;
  font-size: 1.2rem;
}

.control.size-bar {
  top: 58% !important;
  left: 35% !important;
  width: 62.5% !important;
}

.control.board {
  left: 2%;
  width: 12%;
  top: 18%;
  font-size: 1.2rem;
}

.control.code {
  left: 14%;
  width: 12%;
  top: 10%;
  font-size: 1.5rem;
}

.control.split {
  left: 28%;
  width: 12%;
  top: 22%;
  font-size: 1.1rem;
}

.control.pip.cb {
  left: 45%;
  width: 12%;
  top: 16%;
  font-size: 1.2rem;
}

.control.pip.bc {
  left: 62%;
  width: 12%;
  top: 16%;
  font-size: 1.2rem;
}

.control.pip.horizontal {
  left: 78%;
  width: 12%;
  top:12%;
  font-size: 1.1rem;
}

.control.pip.vertical {
  left: 93%;
  width: 12%;
  top: 12%;
  font-size: 1.1rem;
}

.control.text {
  left: 15%;
  width: 47%;
  top: 20%;
}

.control.text i {
  top: 25%;
  font-size: 1.1rem;
}

 
.control.value {
    left: 44%;
    width: 60%;
    top: 14%;
}

.control.value i {
  left: 20%;
  font-size: 1.5rem;
}

.control.time {
  left: 1%;
  width: 98%;
}

.control.time i {
  top: 25%;
  font-size: 1rem;
}

.control.download {
  left: 23%;
}

.control.download i {
  top: 21%;
}

input[type=range] {
  margin: 0px !important;
  border: none !important;
}

#modalHelp {
  max-height: 400px !important;
}

.zoomTempClassVideo iframe {
  position: absolute;
    background-color: transparent;
    top: 5%;
    left: 0%;
    width: 100%;
    height: 95%;
    margin: 0px;
    padding: 0px;
}

.progress-bar {
  position: absolute !important;
  cursor: pointer !important;
  top: 10% !important;
  left: 1% !important;
  width: 98% !important;
  height: 8% !important;

  margin: 0px !important;
  padding: 0px !important;
}

.slider-bar {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border-radius: 10em;
  outline: none;
  margin-bottom: 14px;

  background: var(--color2);
  height:5px;
}

.slider-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--line);
  background-color: #F8423D;
  cursor: pointer;
  border: 2px solid var(--bg-inv);
}


.slider-bar::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #F8423D;
  cursor: pointer;
  border: 3px solid #f4f4f4;
}